*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font: 400 16px/1 $clashDisplay;
  background: #fff;
}

@media screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
}

.container {
  max-width: $container + ($padding * 2);
  width: 100%;
  padding: 0 $padding;
  margin: 0 auto;
}

.img-cover {
  @include imgCover;
}

.fp-watermark {
  display: none !important;
}

.fp-overflow {
  height: 100%;
  width: 100%;
}

#company .fp-overflow {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  z-index: 2;
}

#company #transition-video {
  opacity: 1 !important;
}

#company #video {
  opacity: 1 !important;
}

#hero {
  overflow: unset !important;
}

#newsletter .container {
  padding-block: 90px !important;
}

@media (max-width: 1180px) {
  .container {
    padding: 0 $padding_tablet;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 $padding_mobile;
  }
}
