{
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "singleQuote": true,
  "importOrder": [
    "(^react/?(.*)$)",
    "<THIRD_PARTY_MODULES>",
    "^root/?(.*)$",
    "^store/?(.*)$",
    "^hooks/?(.*)$",
    "^pages/?(.*)$",
    "^components/?(.*)$",
    "^popups/?(.*)$",
    "^widgets/?(.*)$",
    "^ui/?(.*)$",
    "^utils/?(.*)$",
    "^styles/?(.*)$",
    "^..?/\\w+$",
    ".s?css$",
    "^images/?(.*)$",
    "^media/?(.*)$",
    ".(png|svg|webp|jpe?g|gif|webw|mp4|mp3|avi)$"
  ],
  "importOrderSortSpecifiers": true
}