.about {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;

  :global(.container) {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about_video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.7s ease;
  transform-origin: top center !important;
  transition-property: all;
  display: block;
  margin: 0 auto;

  &.toDown {
    animation: toDown 1s forwards ease;
  }

  &.toUp {
    animation: toUp 1.5s forwards ease !important;
  }
}
.about_title {
  max-width: 14.57em;
  margin-inline: auto;
  text-align: center;
  color: #fff;
  line-height: 0.91;
  text-transform: capitalize;

  span {
    display: inline-block;
    border-radius: 2.75em;
    position: relative;
    z-index: 20;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: inherit;
      z-index: -1;
      transform: scaleX(1.08) scaleY(1.15);
    }
  }

  &_green {
    color: #000;
    &::before {
      background: $green-light;
    }
  }

  &_black {
    &::before {
      background: #000;
    }
  }
}
@keyframes toDown {
  from {
    width: 100vw;
    height: 100vh;
  }

  to {
    border-radius: 2.0625em;
    transform: translate(0, -50%);
    top: 150%;
    width: 255px;
    height: 550px;
    z-index: 0;
  }
}

@keyframes toUp {
  from {
    border-radius: 2.0625em;
    transform: translate(0, -50%);
    top: 150%;
    width: 255px;
    height: 550px;
  }
  to {
    border-radius: 0px;
    transform: translate(0px);
    top: 0%;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: $tablet_big) {
  .about_title {
    font-size: 60px;
  }
}
@media (max-width: $tablet) {
  .about_title {
    font-size: 54px;
  }
}
@media (max-width: $mobile_big) {
  .about_title {
    font-size: 46px;
  }
}
@media (max-width: $mobile) {
  .about_title {
    font-size: 34px;
    span {
      color: #fff;
      &::before {
        content: none;
      }
    }
  }
}
