.hero {
  padding-block: 170px 80px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  // position: relative;
}
.hero_container {
  // position: relative;
  z-index: 2;
}
.hero_title {
  font-size: 76px;
  max-width: 10em;
}
.hero_row {
  margin-top: 70px;
  display: flex;
}
.hero_text {
  margin-left: 45px;
  font: 400 18px/1.25 $plusJakarta;
  color: #000;
  text-transform: capitalize;
  max-width: 21.5em;
}
.hero_marquee {
  position: absolute;
  right: -73px;
  top: 0;
  height: 100%;
  z-index: 10;
  transform: rotate(-28deg);
  display: flex;
  align-items: center;
}
@media (max-width: $laptop) {
  .hero {
    padding-top: 150px;
  }
  .hero_title {
    font-size: 68px;
  }
  .hero_text {
    font-size: 16px;
    margin-left: 30px;
  }
  .hero_marquee {
    right: -100px;
    transform: rotate(-25deg);
  }
}
@media (max-width: $laptop_small) {
  .hero_title {
    font-size: 62px;
    max-width: 9em;
  }
  .hero_row {
    margin-top: 44px;
  }
}
@media (max-width: $tablet_big) {
  .hero {
    align-items: flex-start;
  }
  .hero_row {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero_text {
    order: -1;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .hero_marquee {
    transform: rotate(36deg) translateX(50%);
    right: 0;
  }
}
@media (max-width: $tablet_small) {
  .hero_title {
    font-size: 46px;
  }
  .hero_row {
    margin-top: 20px;
  }
  .hero_marquee {
    transform: rotate(36deg) translateX(70%);
  }
}
@media (max-width: $mobile) {
  .hero_text {
    max-width: 14em;
  }
}
@media (max-width: $mobile_small) {
  .hero_text {
    font-size: 14px;
  }
}
