.marquee {
  display: flex;

  &_up,
  &_down {
    .marquee_wrapper {
      flex-direction: column;
    }
  }

  &_up .marquee_item {
    animation: toUp 5s linear infinite;
  }
  &_down .marquee_item {
    animation: toDown 5s linear infinite;
  }
  &_left .marquee_item {
    animation: toLeft 5s linear infinite;
  }
  &_right .marquee_item {
    animation: toRight 5s linear infinite;
  }
}
.marquee_wrapper {
  display: flex;
}
.marquee_item {
  flex-shrink: 0;
}

.transition_video {
  left: 0 !important;
  right: 0 !important;
  transform-origin: center;
  z-index: 13;
  transition: all 1.5s ease !important;
  animation: transitionVideo 2s forwards ease;
}

@media (max-width: 1660px) {
  @keyframes transitionVideo {
    50% {
      position: relative;
      width: 100vw;
      height: 100vh;
      transform: translateX(-80%) translateY(250px) rotate(28deg);
      opacity: 1;
    }

    100% {
      position: relative;
      width: 100vw;
      height: 100vh;
      transform: translateX(-80%) translateY(250px) rotate(28deg);
      opacity: 0;
    }
  }
}

@media (min-width: 1660px) {
  @keyframes transitionVideo {
    50% {
      position: relative;
      width: 100vw;
      height: 100vh;
      transform: translateX(-90%) translateY(550px) rotate(28deg);
      opacity: 1;
    }

    100% {
      position: relative;
      width: 100vw;
      height: 100vh;
      transform: translateX(-90%) translateY(550px) rotate(28deg);
      opacity: 0;
    }
  }
}

@keyframes toUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes toDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes toRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
