.marquee {
  display: flex;

  &_up,
  &_down {
    .marquee_wrapper {
      flex-direction: column;
    }
  }

  &_up .marquee_item {
    animation: toUp 5s linear infinite;
  }
  &_down .marquee_item {
    animation: toDown 5s linear infinite;
  }
  &_left .marquee_item {
    animation: toLeft 5s linear infinite;
  }
  &_right .marquee_item {
    animation: toRight 5s linear infinite;
  }
}
.marquee_wrapper {
  display: flex;
}

.marquee_item {
  flex-shrink: 0;
  transition: 0.5s ease !important;
  transition-property: opacity, transform;

  video {
    object-fit: 100%;
  }

  @media (min-width: 1600px) {
    &.back {
      animation-play-state: paused;
      transform: translateY(-5.5%) !important;
    }
  }

  @media (max-width: 1600px) {
    &.back {
      animation-play-state: paused;
      transform: translateY(-49.5%) !important;
    }
  }
}

.transition_video {
  left: 0 !important;
  right: 0 !important;
  transform-origin: center;
  z-index: 9999;
  opacity: 1 !important;

  transition: 1.5s ease !important;
  transition-property: opacity, transform;
  animation: transitionVideo 2s forwards ease;

  &.hidden {
    opacity: 0 !important;

    img {
      opacity: 0 !important;
    }
  }
}

@media (max-width: 1660px) {
  @keyframes transitionVideo {
    50% {
      position: fixed;
      width: 100vw;
      height: 100vh;
      transform: translateX(-80%) rotate(30deg);
    }

    100% {
      position: fixed;
      width: 100vw;
      height: 100vh;
      transform: translateX(-80%) rotate(30deg);
    }
  }
}

@media (min-width: 1660px) {
  @keyframes transitionVideo {
    50% {
      position: fixed;
      width: 100vw;
      height: 100vh;
      transform: translateX(-90%) rotate(30deg);
    }

    100% {
      position: fixed;
      width: 100vw;
      height: 100vh;
      transform: translateX(-90%) rotate(30deg);
    }
  }
}

@keyframes toUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes toDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes toRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
